<!-- Filtros -->
<div class="row">
  <div class="col-md-12">
    <div id="boxFiltros" class="box collapsed-box">
      <div class="box-header with-border">
        <h3 class="box-title">FILTROS</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="tipoFiltro">Tipo Filtro</label>
            <select class="form-control" name="tipoFiltro" id="tipoFiltro" [(ngModel)]="tipo">
              <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
              <option value="0" selected>Selecione</option>
              <option value="1">Código</option>
              <option value="2">Número Contrato</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="valorFiltro">Valor Filtro</label>
            <input type="text" class="form-control" name="valorFiltro" id="valorFiltro" appNumbersOnly maxlength="10"
              [(ngModel)]="valorFiltro" [disabled]="tipo == 0">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="valoresFiltroInicial">Valores (R$) Entre:</label>
            <input type="text" class="form-control" name="valoresFiltroInicial" id="valoresFiltroInicial" currencyMask
              [(ngModel)]="valoresFiltroInicial" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
            <i class="fa fa-arrows-h iconSmHide" style="position: absolute; top: 60%; left: 98%"></i>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="valoresFiltroFinal">{{'&#160;'}}</label>
            <input type="text" class="form-control" name="valoresFiltroFinal" id="valoresFiltroFinal" currencyMask
              [(ngModel)]="valoresFiltroFinal" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <label>Datas entre:</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="datasFiltroInicial" name="datasFiltroInicial">
            </div>
            <i class="fa fa-arrows-h iconSmHide" style="position: absolute; top: 60%; left: 98%"></i>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="datasFiltroFinal">{{'&#160;'}}</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="datasFiltroFinal" name="datasFiltroFinal">
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <label for="situacaoFiltro">Situação do Contrato</label>
            <select class="form-control" name="situacaoFiltro" id="situacaoFiltro" [(ngModel)]="situacao">
              <!-- <option *ngFor="let item of list" [value]="item">{{item}}</option> -->
              <option value="0" selected>Selecione</option>
              <option value="1">Vigente até</option>
              <option value="2">A vencer nos próximos</option>
            </select>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12" [hidden]="situacao!=1">
            <label for="situacaoVigente">Data</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="situacaoVigente" name="situacaoVigente">
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12" [hidden]="situacao!=2">
            <label for="situacaoVencimento">Quantidade de dias</label>
            <input type="text" class="form-control" name="situacaoVencimento" id="situacaoVencimento" appNumbersOnly
              maxlength="5" [(ngModel)]="situacaoVencimento">
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12 pull-right">
            <label for="btnAplicar">{{'&#160;'}}</label>
            <button name="btnAplicar" id="btnAplicar" class="btn btn-success form-control"
              (click)="aplicaFiltros()">APLICAR</button>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 pull-right">
            <label for="btnLimpar">{{'&#160;'}}</label>
            <button name="btnLimpar" id="btnLimpar" class="btn btn-default form-control" (click)="limpar()">LIMPAR</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>