<!-- Graficos -->
<div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- DONUT CHART -->
              <div class="box box-gray">
                <div class="box-header with-border bg-gray" style="text-align: center">
                  <h3 class="box-title">Valores</h3>
                </div>
                <div class="box-body bg-gray-light">
                  <canvas id="pieChart" style="height:250px"></canvas>
                </div>
                <div class="box-footer bg-gray">

                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <!-- DONUT CHART -->
              <div class="box box-gray">
                <div class="box-header with-border bg-gray" style="text-align: center">
                  <h3 class="box-title">Períodos</h3>
                </div>
                <div class="box-body bg-gray-light">
                  <canvas id="pieChart" style="height:250px"></canvas>
                </div>
                <div class="box-footer bg-gray">

                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
        </div>

        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="box box-gray">
                <div class="box-header with-border bg-gray" style="text-align: center">
                  <h3 class="box-title">Totais</h3>
                </div>
                <div class="box-body bg-gray-light">
                  <canvas id="pieChart" style="height:250px"></canvas>
                </div>
                <div class="box-footer bg-gray">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="pull-right" style="margin-right: 16px">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                          <span>Realizado</span>
                    </div>
                  </div>
              <div class="row">
                <div class="pull-right" style="margin-right: 16px">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                      <span>A Realizar</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>