<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      ACOMPANHAMENTO DE CONTRATOS
      <small>Painel de Controle</small>
    </h1>
    <ol class="breadcrumb">
      <li><a [routerLink]="['/']" routerLinkActive="active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Admin</a></li>
      <li class="active">Acompanhamento</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <app-resumo-contratos></app-resumo-contratos>
    <app-filtros></app-filtros>
    <app-detalhamento-contratos></app-detalhamento-contratos>
  </section>
  <!-- /.content -->