<!-- Detalhamento dos Contratos -->
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dtContratos" style="cursor:pointer"
          class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Número Contrato</th>
              <th>Número Licitação</th>
              <th>Modalidade Licitação</th>
              <th>Tipo de Contrato</th>
              <th>Objeto Contrato</th>
              <th>Favorecido</th>
              <th>Total Inicial + Aditivo</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="box-footer">
        <app-graficos></app-graficos>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>