<!-- Detalhamento dos Contratos -->
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">DETALHAMENTO DOS CONTRATOS</h3>
        <div class="row pull-right" style="margin-bottom: 2px" *ngIf="!fullPage">
          <a class="btn btn-light" [routerLink]="['/detalheFullPage']" target="_blank"><i class="fa fa-window-maximize fa-2x"></i></a>
          <a class="btn btn-light" (click)="exportCSV()"><i class="fa fa-file-text-o fa-2x"></i></a>
          <a class="btn btn-light" (click)="exportXLSX()"><i class="fa fa-file-excel-o fa-2x"></i></a>
          <a class="btn btn-light" (click)="exportPDF()"><i class="fa fa-file-pdf-o fa-2x"></i></a>
          <a class="btn btn-light"><i class="fa fa-print fa-2x"></i></a>
        </div>
      </div>
      <div class="box-body">
        <table #listaContratos datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dtContratos" style="cursor:pointer"
          class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Número Contrato</th>
              <th>Número Licitação</th>
              <th>Modalidade Licitação</th>
              <th>Tipo de Contrato</th>
              <th>Objeto Contrato</th>
              <th>Favorecido</th>
              <th>Total Inicial + Aditivo</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="box-footer"  *ngIf="!fullPage">
        <app-graficos></app-graficos>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>