<!-- Detalhamento dos Contratos -->
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">DETALHAMENTO DOS CONTRATOS</h3>
        <div class="row pull-right" style="margin-bottom: 2px">
            <a class="btn btn-light"><i class="fa fa-file-text-o fa-2x"></i></a>
            <a class="btn btn-light"><i class="fa fa-file-excel-o fa-2x"></i></a>
            <a class="btn btn-light"><i class="fa fa-file-pdf-o fa-2x"></i></a>
            <a class="btn btn-light"><i class="fa fa-print fa-2x"></i></a>
          </div>
      </div>
      <div class="box-body">        
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dtContratos" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Código</th>
              <th>Número Contrato</th>
              <th>Número Licitação</th>
              <!-- <th>Modalidade Licitação</th>
              <th>Tipo de Contrato</th>
              <th>Objeto Contrato</th>
              <th>Favorecido</th> -->
            </tr>
          </thead>
    <!--       <tbody>
            <tr *ngFor="let contrato of contratos; let i = index">
              <td>{{(i+1).toString().padStart(4, '0')}}</td>
              <td>{{contrato.codigo.toString().padStart(4, '0')}}</td>
              <td>{{contrato.contrato}}</td>
              <td>{{contrato.licitacao}}</td>
              <td>{{contrato.modalidade}}</td>
              <td>{{contrato.tipo}}</td>
              <td>{{contrato.objeto}}</td>
              <td>{{contrato.favorecido}}</td>
            </tr>
            
          </tbody> -->
        </table>
      </div>
      <div class="box-footer">
        <app-graficos></app-graficos>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>