<!-- Resumo dos Contratos -->
<div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">RESUMO DOS CONTRATOS</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="small-box bg-light-blue">
                    <div class="inner">
                      <h3>{{qtdContratosVigente}}</h3>
                      <p>Contratos Vigentes</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="small-box bg-red">
                    <div class="inner">
                      <h3>{{qtdContratosVencidos}}</h3>
                      <p>Contratos Vencidos</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-5 col-sm-8 col-xs-12">
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="small-box bg-gray-light">
                    <div class="inner">
                      <div class="row linha">
                        <div class="boxValor col-md-5 col-sm-6 col-xs-6">
                          <small>R$ </small><span class="boxValorSpan">{{valorTotal | number}}</span>
                        </div>
                        <div class="boxTexto col-md-7 col-sm-6 col-xs-6">
                          Em  {{qtdContratos}} contratos
                        </div>
                      </div>
                      <div class="row linha">
                        <div class="boxValor col-md-5 col-sm-6 col-xs-6">
                          <small>R$ </small><span class="boxValorSpan">{{valorEmpenhados | number}}</span>
                        </div>
                        <div class="boxTexto col-md-7 col-sm-6 col-xs-6">
                          Empenhados em {{qtdEmpenhados}} contratos
                        </div>
                      </div>
                      <div class="row linha">
                        <div class="boxValor col-md-5 col-sm-6 col-xs-6">
                          <small>R$ </small><span class="boxValorSpan">{{valorLiquidados | number}}</span>
                        </div>
                        <div class="boxTexto col-md-7 col-sm-6 col-xs-6">
                          Liquidados em {{qtdLiquidados}} contratos
                        </div>
                      </div>
                      <div class="row linha">
                        <div class="boxValor col-md-5 col-sm-6 col-xs-6">
                          <small>R$ </small><span class="boxValorSpan">{{valorPagos | number}}</span>
                        </div>
                        <div class="boxTexto col-md-7 col-sm-6 col-xs-6">
                          Pagos em {{qtdPagos}} contratos
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="small-box bg-green">
                    <div class="inner">
                      <div class="row linha">
                        <div class="boxValor col-md-5 col-sm-6 col-xs-6">
                          <small>R$ </small><span class="boxValorSpan">{{valorTotalSoma | number}}</span>
                        </div>
                        <div class="boxTexto col-md-7 col-sm-6 col-xs-6">
                          Em {{qtdContratos}} contratos
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="box">
                    <div class="box-header bg-gray-light">
                      <div class="row" style="text-align: center; font-size: 90%">
                        Vence em 10 dias
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body bg-fuchsia-active bg-rose" style="padding-top: 9px; padding-bottom: 35px">
                      <div class="row" style="text-align: center; line-height: 1px; color: #dd4b39">
                        <h1>{{qtdVence10Dias}}</h1>
                        Contratos
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer bg-gray-light">
                      <div class="row" style="text-align: center; font-size: 90%">
                        <span class="box-title">{{dt10Dias}}</span>
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                  </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="box">
                    <div class="box-header bg-gray-light">
                      <div class="row" style="text-align: center; font-size: 90%">
                        Vence em 20 dias
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body bg-new-orange" style="padding-top: 9px; padding-bottom: 35px">
                      <div class="row" style="text-align: center; line-height: 1px; color: rgb(255, 193, 78)">
                        <h1>{{qtdVence20Dias}}</h1>
                        Contratos
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer bg-gray-light">
                      <div class="row" style="text-align: center; font-size: 90%">
                        <span class="box-title">{{dt20Dias}}</span>
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                  </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="box">
                    <div class="box-header bg-gray-light">
                      <div class="row" style="text-align: center; font-size: 90%">
                        Vence em 30 dias
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body bg-new-green" style="padding-top: 9px; padding-bottom: 35px">
                      <div class="row" style="text-align: center; line-height: 1px; color: green">
                        <h1>{{qtdVence30Dias}}</h1>
                        Contratos
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- ./box-body -->
                    <div class="box-footer bg-gray-light">
                      <div class="row" style="text-align: center; font-size: 90%">
                        <span class="box-title">{{dt30Dias}}</span>
                      </div>
                      <!-- /.row -->
                    </div>
                    <!-- /.box-footer -->
                  </div>
                </div>


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>